<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>::: Spring MVC-Boot-Data JPA Hibernate Bootstrap Jquery :::</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1">
<meta name="Content-Language" content="fr" />
<meta name="Description" content="" />
<meta name="Keywords" content=" Tutoriel Spring MVC-Boot-Data JPA Hibernate Bootstrap Jquery " />
<meta name="Subject" content="" />
<meta name="Content-Type" content="utf-8" />

 <div th:replace="fragments/header :: header-css"/>

</head>


<body>

<div th:replace="fragments/header :: header"></div>

<div id="page-wrap">
 <!-- CONTENT -->
</div>

<div class="container">
    <div class="row pt-5 m-auto">
      <div class="col-md-6 col-lg-4 pb-3">

     
        <div class="card card-custom  border-white border-0" style="background-color: #FFFF; box-shadow: 0 0 20px #ECE3FF;height: 500px ">
          <div class="card-custom-img" style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>
          <div class="card-custom-avatar">
            <img class="img-fluid" src="https://cmkt-image-prd.freetls.fastly.net/0.1.0/ps/6775203/1820/1213/m1/fpnw/wm1/ms5qolvae9k7woy7ltf5nfyjbvs7ytpepxi3owkplymryebksfgylonyul8uc36y-.jpg?1564977377&s=6a9110206dd9d1fb2f32e329142ef251" alt="Avatar" />
          </div>
          <div class="card-body" style="overflow-y: auto">
            <h4 class="card-title">Vivez votre shopping!</h4>
            <p class="card-text">Notre hypermarché en ligne vous propose des meilleures promotions pour tous les produits maison, high-tech, beauté hygiène...</p>
          </div>
          <div class="card-footer" style="background: inherit; border-color: inherit;">
           
            <a href="#" class="btn btn-outline-primary">Découvrez!</a>
          </div>
        </div>
      

      </div>
      
      <div class="col-md-6 col-lg-4 pb-3">

     
        <div class="card card-custom  border-white border-0" style="background-color: #FFFF; box-shadow: 0 0 20px #ECE3FF;height: 500px">
          <div class="card-custom-img" style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>
          <div class="card-custom-avatar">
            <img class="img-fluid" src="https://cdn.dribbble.com/users/496123/screenshots/6614054/14.png" alt="Avatar" />
          </div>
          <div class="card-body" style="overflow-y: auto">
            <h4 class="card-title">Consultez nos produits!</h4>
            <p class="card-text">Découvrez tous les produits de Electroménager dans nos rayons virtuels!Et oui :D</p>
          </div>
          <div class="card-footer" style="background: inherit; border-color: inherit;">
            <a href="#" class="btn btn-outline-primary">Visite 3D !</a>
          </div>
        </div>
      

      </div>

       
       <div class="col-md-6 col-lg-4 pb-3">

     
        <div class="card card-custom  border-white border-0" style="background-color: #FFFF; box-shadow: 0 0 20px #ECE3FF;height: 500px; ">
          <div class="card-custom-img" style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>
          <div class="card-custom-avatar">
            <img class="img-fluid" src="https://cdn.dribbble.com/users/496123/screenshots/6610425/2_2x.png" alt="Avatar" />
          </div>
          <div class="card-body" style="overflow-y: auto">
            <h4 class="card-title">Service client exceptionnel!</h4>
            <p class="card-text">Chez nous le client est un membre de famille.N'hésitez pas à nous contacter en cas de dérangements!</p>
          </div>
          <div class="card-footer" style="background: inherit; border-color: inherit;">
            <a href="#" class="btn btn-outline-primary">Contactez nous!</a>
          </div>
        </div>
      

      </div>
    </div>
  </div>
	
</body>

<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- JavaScript Placed at the end of the document so the pages load faster -->
  	<script src="../../js/jquery-3.3.1.slim.min.js" th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
    <script>window.jQuery || document.write('<script src="../../js/jquery-3.3.1.slim.min.js"><\/script>')</script>
    
    <script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	<script src="/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>

</html>